/.ccls-cache/
/.vscode/*.db
/.vscode/*cache*/
/*build*/
/install/windows/*.exe
/install/windows/source
/scripts/premake/**/bin/
/scripts/premake/**/obj/
/sdk/lib/
/*.diff
/*.user
/compile_commands.json
/native*.ini
