[Desktop Entry]
Version=1.0
Name=wxWeaver
Comment=wxWidgets GUI Designer
TryExec=wxweaver
Exec=wxweaver %f
Icon=wxweaver
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;GUIDesigner;Development;
StartupNotify=true
MimeType=application/x-wxweaver;
