Source: wxweaver
Section: contrib/devel
Priority: optional
XSBC-Original-Maintainer: Andrea Zanellato <redtid3@gmail.com>
Maintainer: Nobody <nobody@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), libwxgtk3.0-dev (>= 3.0.0), libwxgtk-media3.0-dev (>= 3.0.0)
Standards-Version: 0.1.0
Homepage: http://wxweaver.github.io

Package: wxweaver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WYSIWYG GUI Designer and Code Generator for wxWidgets
 wxWeaver is a GUI designer for programs which
 use wxWidgets. It is a very WYSIWYG designer, because it uses
 the actual controls to show the result, not some fake representation.
 .
 Features include generation of C++, Python, XRC, wxLua, PHP. Also
 custom plugins are supported and import of XRC code.
